body{
  background-color: lightblue;
}

th {
    text-align: left;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

th, td {
    border-bottom: 1px solid black;
}

tr:hover {background-color: grey;}

td {
    background-color: grey;
    color: black;
}

.highest {
  background-color: #1D88EA;
}

h1 {
  text-align: center;
}
